/* CSS Document */
body {
    background: #080808;
}
.s1 {
    background: url("../images/s1-min.jpg") no-repeat;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    margin: 0px;
    border: none;
    padding-top: 0px;
    color: white;
}
ul li a:hover {
    background-color: black !important;
    opacity: 0.5;
}
#logo {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100px;
    height: 120px;
    margin-top: -60px; /* Half the height */
    margin-left: -50px; /* Half the width */
}
#regbtn {
    width: 240px;
    height: 50px;
    margin-top: -25px; /* Half the height */
    margin-left: -120px; /* Half the width */
}
#card1img, #card2img, #card3img {
    display: inline-block;
    width: 50%;
    height: 50px;
}
.container img {
    max-width: 100px !important;
    max-height: 100px !important;
}
.material-icon medium {
    color: #EF643F
}
.waves-effect waves-light btn {
    background: #1A1B22;
}
.circle {
    background: #FFFFFF;
    width: 180px !important;
    height: 180px !important;
    border-radius: 90px;
    border: 2px solid white;
    padding: 20px !important;
    border-right: 2px solid #FF6642;
}
.collapsible-body {
    background: #BFBFBF;
}

@media only screen and (min-width: 425px) {
.row .col.m5th {
    width: 50% !important;
    margin-left: auto;
    left: auto;
    right: auto;
}
}

@media only screen and (min-width: 601px) {
.row .col.m5th {
    width: 33.33% !important;
    margin-left: auto;
    left: auto;
    right: auto;
}
.card {
    min-height: 350px;
}
}

@media only screen and (min-width: 1024px) {
.row .col.m5th {
    width: 25% !important;
    margin-left: auto;
    left: auto;
    right: auto;
}
}

@media only screen and (min-width: 1330px) {
.row .col.m5th {
    width: 20% !important;
    margin-left: auto;
    left: auto;
    right: auto;
}
}

@media only screen and (min-width: 2560px) {
.row .col.m5th {
    width: 16.66% !important;
    margin-left: auto;
    left: auto;
    right: auto;
}
}
/* For Timeline */
.tab {
    overflow: hidden;
    background-color: #f1f1f1;
}
.tabcontent {
    display: none;
    justify-content: center;
}
#day1 {
    display: flex;
    justify-content: center;
}
#day2 {
    display: flex;
    justify-content: center;
}

@media only screen and (min-width: 601px) {
.timeline {
    position: relative;
    margin: 50px;
    margin-top: 100px;
    padding: 0;
    width: 80%;
}
.timeline:before {
    content: '';
    position: absolute;
    left: 50%;
    width: 2px;
    height: 100%;
    background: #FFFFFF;
}
.timeline ul {
    margin: 0;
    padding: 0;
    justify-content: center;
    align-self: center;
}
.timeline ul li {
    width: 50%;
    list-style: none;
    position: relative;
    box-sizing: border-box;
    padding: 20px 40px;
}
.timeline ul li:nth-child(odd) {
    float: left;
    text-align: right;
    clear: both;
}
.timeline ul li:nth-child(even) {
    float: right;
    text-align: left;
    clear: both;
}
.content {
    padding-bottom: 20px;
}
.timeline ul li:nth-child(odd):before {
    content: '';
    position: absolute;
    top: 24px;
    right: -6px;
    width: 10px;
    height: 10px;
    background: #494949;
    border-radius: 50%;
    box-shadow: 0 0 0 3px #BFBFBF;
}
.timeline ul li:nth-child(even):before {
    content: '';
    position: absolute;
    top: 24px;
    left: -4px;
    width: 10px;
    height: 10px;
    background: #494949;
    border-radius: 50%;
    box-shadow: 0 0 0 3px #BFBFBF;
}
.timeline ul li h3 {
    margin: 0;
    padding: 0;
    font-size: 22px;
    font-weight: 600;
    color: #FFFFFF;
}
.timeline ul li p {
    margin: 10px 0 0;
    padding: 15px;
    background: #C5C5C5;
}
/*.timeline ul li p:before {
    position: absolute;
    top: 100px;
    right: 27px;
    display: inline-block;
    border-top: 14px solid transparent;
    border-left: 14px solid #C5C5C5;
    border-right: 0 solid transparent;
    border-bottom: 14px solid transparent;
    content: " ";
}*/
.timeline ul li .time h4 {
    margin: 0;
    padding: 0;
    font-size: 18px;
}
.timeline ul li:nth-child(odd) .time {
    content: '';
    position: absolute;
    top: 12px;
    right: -165px;
    margin: 0;
    padding: 8px 16px;
    background: #494949;
    color: #FFFFFF;
    border-radius: 18px;
    box-shadow: 0 0 0 3px #BFBFBF;
}
.timeline ul li:nth-child(even) .time {
    content: '';
    position: absolute;
    top: 12px;
    left: -165px;
    margin: 0;
    padding: 8px 16px;
    background: #494949;
    color: #FFFFFF;
    border-radius: 18px;
    box-shadow: 0 0 0 3px #BFBFBF;
}
.changeColor {
    background: #000000;
}
}

@media only screen and (max-width: 600px) {
.timeline {
    position: relative;
    margin: 20px;
    margin-top: 100px;
}
.timeline:before {
    content: '';
    position: absolute;
    width: 2px;
    height: 100%;
    background: #FFFFFF;
}
.timeline ul {
    margin: 0;
    padding: 0;
}
.timeline ul li {
    list-style: none;
    position: relative;
    box-sizing: border-box;
    padding: 10px 10px 10px 40px;
}
.timeline ul li {
    float: left;
    text-align: left;
    clear: both;
}
.content {
    padding-bottom: 20px;
}
.timeline ul li:before {
    content: '';
    position: absolute;
    top: 24px;
    left: -4px;
    width: 10px;
    height: 10px;
    background: #494949;
    border-radius: 50%;
    box-shadow: 0 0 0 3px #BFBFBF;
}
.timeline ul li h3 {
    margin: 40px 0 0;
    padding: 0;
    font-size: 22px;
    font-weight: 600;
    color: #FFFFFF;
}
.timeline ul li p {
    margin: 10px 0 0;
    padding: 10px;
    background: #C5C5C5;
}
/*.timeline ul li p:before {
    position: absolute;
    top: 100px;
    right: 27px;
    display: inline-block;
    border-top: 14px solid transparent;
    border-left: 14px solid #C5C5C5;
    border-right: 0 solid transparent;
    border-bottom: 14px solid transparent;
    content: " ";
}*/
.timeline ul li .time h4 {
    margin: 0;
    padding: 0;
    font-size: 18px;
}
.timeline ul li .time {
    content: '';
    position: absolute;
    top: 12px;
    margin: 0;
    padding: 8px 12px;
    background: #494949;
    color: #FFFFFF;
    border-radius: 18px;
    box-shadow: 0 0 0 3px #BFBFBF;
}
.changeColor {
    background: #000000;
}
}
#longcard {
    padding: 20px;
}

@media only screen and (max-width: 640px) {
.brand-logo {
    align-content: center;
}
}

@media only screen and (min-width: 1024px ) and (max-width:1068px) {
#longcard {
    padding: 20px 0;
}
#card1, #card2, #card3 {
    height: 650px !important;
}
}

@media only screen and (min-width: 425px) {
#card1, #card2, #card3 {
    height: 600px;
    border-radius: 20px;
    border: #606060;
    overflow: hidden;
}
}

@media only screen and (max-width: 425px) {
#card1, #card2, #card3 {
    height: auto;
    padding-bottom: 20px;
    border-radius: 20px;
    border: #606060;
    overflow: hidden
}
}
